@CHARSET "UTF-8";

h1 {
	text-align: center;
}

div {
	font-size: 30pt;
	background-color: yellow;
}

.title {
	font-size: 50pt;
	<!--css는 명시한 게 우선-->
}

.fontColor {
	color: green;
}

#idType {
	color: red
}